* {
    font-family: "Arial Bold", Arial;;
    margin: 0;
    padding: 0;
}

header {
    background-color: #03a3df;
    color: white;
    padding: 1.5rem;
    text-align: right;
    height: 5rem;
}

nav a {
    padding: .5rem;
    margin: .5rem;
}

.logo-img {
    float: left;
}

h1 {
    text-align: center;
    width: 80%;
    padding-right: 6rem;
    padding-left: 6rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

h3 {
    color: white;
    padding: 1rem;
}

.call-out {
    color: #03a3df;
    font-size: 150%;
}

.all-caps {
    text-transform: uppercase;
    color: #ecb722;
    font-size: 75%;
}

.class-title{
    text-transform: uppercase;
    color: #ecb722;
    font-size: 110%;
    text-decoration: underline;
}

.entire-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 3rem;
}

.services-container {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    background-color: #044281;
    width: 30%;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-bottom: 2.5rem;
}

.class-container {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin: 2.5rem;
}

.lessons-container {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin: 2.5rem;
}

.container-title {
    text-transform: uppercase;
    color: #ecb722;
    
}


p {
    padding: .5rem;
    color: white;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 150%;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

footer {
    padding-left: 5rem;
    padding-top: 5rem;
}
