header {
    background-color: #03a3df;
    color: white;
    padding: 20px;
    text-align: right;
    height: 75px;
}

.logo-img {
    float: left;
}

h3 {
    color: white;
}

footer {
    padding-left: 75px;
    padding-top: 75px;
}