* {
    font-family: "Arial Bold", Arial;;
    margin: 0;
    padding: 0;
}

header {
    background-color: #03a3df;
    color: white;
    padding: 1.5rem;
    text-align: right;
    height: 5rem;
}

.logo-img {
    float: left;
}

h1 {
    text-align: center;
    padding: 2rem;
}

h3 {
    color: white;
    padding: 1.5rem;
}

p {
    padding: 1.5rem;
}

.highlight {
    background-color:  #ecb722;
}

.call-out {
    text-align: center;
    color: #03a3df;
    font-size: 200%;
    margin-bottom: 2.5rem;
}

section {
    padding-left: 5.5rem;
    padding-right: 5.5rem;    
}

video {
    padding-left: 5.5rem;
    padding-right: 5.5rem; 
    padding-bottom: 2.5rem;
}

footer {
    padding-left: 5rem;
    padding-top: 5rem;
    font-size: 125%;
    font-weight: bold;
    color: white;
}